<div id="body" class="container-fluid">
    <p class="text-danger"><%= message %></p>
    <a class="btn btn-default" href="/">回首頁</a>
    <br>
    <br>

    <table class="table table-striped">
	    <tr>
	        <th>
	            使用者姓名：
	        </th>
	    </tr>
	    <tr>
	        <td>
	           	<%= userInfo.name%>
	        </td>
	    </tr>
	    <tr>
	        <th>
	            電子郵件地址：
	        </th>
	    </tr>
	    <tr>
	        <td>
	           	<%= userInfo.email%>
	        </td>
	    </tr>
	    <tr>
	        <th>
	            電話：
	        </th>
	    </tr>
	    <tr>
	        <td>
	           	<%= userInfo.phone%>
	        </td>
	    </tr>
	    <tr>
	        <th>
	            地址：
	        </th>
	    </tr>
	    <tr>
	        <td>
	           	<%= userInfo.address%>
	        </td>
	    </tr>
	    <tr>
	        <th>
	            性別：
	        </th>
	    </tr>
	    <tr>
	        <td>
	           	<%= userInfo.gender%>
	        </td>
	    </tr>
	    <tr>
	        <th>
	            身分證字號：
	        </th>
	    </tr>
	    <tr>
	        <td>
	           	<%= userInfo.idCardNumber%>
	        </td>
	    </tr>



	</table>
</div>
