<table class="table table-bordered">
    <tr><th>牌照號碼</th><th>違規發生地點</th><th>日期</th><th>時間</th><th>違規事實內容</th></tr>
    <tr><td><%= reportInfo.carNum %></td><td><%= reportInfo.country %><%= reportInfo.location %></td><td><%= reportInfo.happenedDate %></td><td><%= reportInfo.happenedTime %></td><td><%= reportInfo.description %></td></tr>
</table>


<% if (image){ %>
<table class="table table-bordered">
    <tr><th>備註<br>

	<% if (user){ %>
		<% if (user.id === reportInfo.user_id){ %>
    		<a class="btn btn-default" href="/driverRecords/<%= reportInfo._id %>/imgupload" >重新上傳檔案</a></th></tr>
		<% } %>
	<% } %>

    <tr><th style="text-align: center;">
		    <% if (image === '/img/logo.jpg'){ %>

				<p style="text-align: left;">沒有附檔</p>

			<% } %>
            <img class="img-responsive" src="<%= image %>">
    </th></tr>
</table>



<% } %>