<table class="table table-bordered">
    <tr><th>牌照號碼</th><th>違規發生地點</th><th>日期</th><th>時間</th><th>違規事實內容</th></tr>
    <tr><td><%= reportInfo.carNum %></td><td><%= reportInfo.country %><%= reportInfo.location %></td><td><%= reportInfo.happenedDate %></td><td><%= reportInfo.happenedTime %></td><td><%= reportInfo.description %></td></tr>
</table>

<% if (image){ %>
<table class="table table-bordered">
    <tr><th>備註<br><a class="btn btn-default" 

    <% if (user.id === reportInfo.user_id){ %>
        <a class="btn btn-default" href="/driverRecords/<%= reportInfo._id %>/imgupload" >重新上傳檔案</a></th></tr>
    <% } %>
    
    <tr><th style="text-align: center;">
            <video id="movie" preload controls width="60%">
                <source src="<%= image %>"  />
                您的瀏覽器不支援 HTML5 影片播放標籤 &lt;video&gt; 格式。
                Your browser doesn't support the &lt;video&gt; tag.
            </video>
    </th></tr>
</table>
<% } %>