<% include _header %>
<table class="table table-striped">
    <% for (var i=userRecords.length-1; i>=0; i--){ %>
    <tr>
        <th>
            <a href="/driverRecords/<%= userRecords[i]._id %>">第 <%= i+1 %> 筆</a><br>
            檢舉時間：<%= userRecords[i].created %>
        </th>
    </tr>
    <tr>
        <td>
            <a href="/driverRecords/<%= userRecords[i]._id %>">詳細資料</a><br>
        	縣市：<%= userRecords[i].country %><br>
        	地點：<%= userRecords[i].location %><br>
        	車牌：<%= userRecords[i].carNum %><br>
            事發時間：<%= userRecords[i].happenedDate %>
        	<%= userRecords[i].happenedTime %><br>
        	<blockquote>簡述：<%= userRecords[i].description %></blockquote>
        </td>
    </tr>
    <% } %>
</table>
<% include _footer %>
